BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "C8" ;
FREQUENCY PORT "clk" 12.000000 MHz ;
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "buton" SITE "B3" ;
IOBUF PORT "buton" PULLMODE=UP IO_TYPE=LVCMOS33 ;

LOCATE COMP "red" SITE "H11" ;
LOCATE COMP "yellow" SITE "J13" ;
LOCATE COMP "green" SITE "J11" ;
LOCATE COMP "red_p" SITE "N15" ;
LOCATE COMP "green_p" SITE "P16" ;
LOCATE COMP "reset" SITE "N1" ;

IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "red" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "yellow" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "green" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "red_p" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "green_p" PULLMODE=UP IO_TYPE=LVCMOS33 ;